.panel-container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.ul-style {
  list-style: none;
  margin: 5px;
  padding: 5px;
  width: 300px;
  
}

.btnRmv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 79, 79);
  border: none;
  border-radius: 3px;
  color: blanchedalmond;
  height: 30px;
  width: 30px;

}

.removeIcon {
  height: 15px;
  grid-column: 2;
  pointer-events: none;
}

.panel-elements {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  align-items: flex-start;
  
  
}

.element-name {
  margin: 10px;
  grid-column: 1;
  width: 300px;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;
}
