.navbar {
    width: 100%;
    height: 150px;
    background-color: rgb(218, 184, 148);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.logo {
    height: 150px;
    border-radius: 10px;
}


.flip-card {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    background-color: transparent;
    width: 220px;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(218, 184, 148);
    color: white;
    transform: rotateY(180deg);
  }

  .btn-toggle-sound {
    grid-column: 5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }

.button-sound-toggle {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-sound-toggle:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

  .btnIcon {
    height: 20px;
    margin: 5px;
  }

  .btn-title {
    font-size: 1rem;
    margin: 5px;
    align-self: center;

  }

  .btn-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }